/*comments to ssatisfy a push*/
body {
  font-family:'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color:hsl (32,50%, 12%);
 
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  
  
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 10px 10px 5px #aaaaaa;
}


.card-search{
  border:#4bacb8;
}


.header {
  text-align: left;
  
  color: rgb(187, 209, 240);
  border-radius: 5;
  border-bottom: 5px solid rgb(24, 23, 21);
  text-shadow: 2px 2px #151418;
   
}




.bgimage {
  max-height:600 ;
  
  background: url(../img/DelGApHero3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  

}
.bgimage h5 {
  
  text-shadow:2px 2px #333;
}

.main{
  background-image:url(../img/DelGapHero1.jpg) ;
  max-width: 100%;
  max-height: fit-content;
  background-size: cover;
}